.home-main {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .category-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;

        .category-item {
            border-radius: 1rem;
            min-width: 25%;
            display: grid;
            grid-template-columns: 1fr 35%;
            background: linear-gradient(45deg, $secondary-color, $base-color);



            .category-img {
                justify-self: center;
                align-self: center;
                max-width: 200px;
                max-height: 200px;
                object-fit: cover;

            }

            .category-text {
                align-self: center;
                padding: 1.5rem;
                color: $text-color-light;
                .category-content {
                    @media screen and (max-width: 1920px) {
                        font-size: $fs-h6;
                    }
                }

                .category-btn {
                    color: $secondary-color;
                    text-decoration: none;
                    border: 1px solid $base-color;
                    padding: 0.5rem 1rem;
                    border-radius: 3rem;
                    font-weight: $fw-semi;
                    background-color: $base-color;


                    &:hover {
                        background-color: $text-color-light;
                        color: $text-color-dark;
                        border-color: $text-color-light;
                        transition: 0.2s ease-in-out;
                    }
                }

            }
        }

        .category-name {

            margin: 0;
            color: $base-color;
            font-size: $fs-h3;
            font-weight: $fw-bold;
            font-style: italic;
            -webkit-text-stroke: 1px $secondary-color;
            @media screen and (max-width: 1920px) {
                font-size: $fs-h4;
            }
        }
    }
}

.content-heading {
    text-align: center;
}


//Product card
.cont {
    max-width: 400px;
    margin: auto;
}

.product-card {

    background-color: var(--card-background);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media screen and (max-width: 1900px) {
        max-width: 335px;
        min-width: 335px;
    }
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    height: 250px;
    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .product-card__image img {
    transform: scale(1.05);
}

.product-card__info {
    padding: 20px;
}

.product-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
}

.product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: $base-color;

    @media screen and (max-width: 1920px) {
        font-size: $fs-h5;

    }
}

.product-card__btn {
    background-color: $base-color;
    color: $text-color-light;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: $fw-bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: $secondary-color;
    color: $text-color-light;

}

@media (max-width: 480px) {
    .cont {
        max-width: 100%;
        padding: 0 20px;
    }

    .product-card__image {
        height: 200px;
    }

    .product-card__title {

        font-size: 1.3rem;
    }

    .product-card__description {
        font-size: 0.8rem;
    }

    .product-card__price {
        font-size: 1.1rem;
    }

    .product-card__btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
}

.best-seller {
    .product-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }
    h2 {
        margin-bottom: 2rem;
    }
}

.special-product {
    margin-top: 2rem;
}


// Banner 2
.secondary-banner {
    position: relative;

    .banner-text-2 {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .button-holder {
            .banner-btn {
                text-decoration: none;
                padding: 0.5rem 1rem;
                border: 2px solid $text-color-light;
                color: $text-color-light;

                &:hover {
                    background: $text-color-light;
                    color: $text-color-dark;
                    transition: 0.25s ease-in-out;
                }
            }
        }
    }

    video {
        max-height: 70vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(30%) contrast(100%);
    }
}